CNAME
collegeEssayInfo.html
./HSsummer/notes.html
./calstucc.html 
./chistuff.html
./css.html
./dartstuff.html
./dukestuff.html
./email.html
./list.html
./none.html
./penstuff.html
./yalestuff.html
./Questbridge.html
./QuestFinal.html
./ricestuff.html
./Roomate.html
./supplments.html
./supplments.html
